<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mi Tienda en Línea</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <!-- Contenido del encabezado -->
    </header>

    <main>

        {{{body}}} <!-- Aquí se cargará el contenido dinámico -->

      <!-- Botón para ir a la página de productos en tiempo real -->
        <!--<a href="/realTimeProducts">
            <button>Ver Productos en Tiempo Real</button>
        </a>
        <a href="./carrito">
            <button>Ver carrito</button>
        </a>
        <a href="/">
            <button>volver a lista estática</button>
        </a>
    </main>
    
    <footer>
         Contenido del pie de página -->
    </footer>
</body>
</html>
