<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mi Tienda en Línea</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <!-- Contenido del encabezado -->
    </header>

    <main>

        {{{body}}} <!-- Aquí se cargará el contenido dinámico -->

    </footer>
</body>
</html>
