<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    
</head>
<body>
    <h1>Lista de Productos</h1>
        <ul>
        <li>Zapatilla, Zapatilla Marca Nike, Precio: $10000, Imagen: Imagen.jpg, Código: 1, Cantidad: 10</li>
        <li>Pantalón, Pantalón Marca Levi's, Precio: $3000, Imagen: Imagen.jpg, Código: 2, Cantidad: 20</li>
        <li>Remera, Remera Marca Vans, Precio:4000, Imagen: Imagen.jpg, Código: 3, Cantidad: 15</li>
        <li>Camisa, Camisa Marca Lacoste, Precio:10000, Imagen: Imagen.jpg, Código: 4, Cantidad: 10</li>
        <li>Zapatillas, Zapatillas Marca Fila, Precio:20000, Imagen: Imagen.jpg, Código: 5, Cantidad: 20</li>
        <li>Remera, Remera Marca Cucci, Precio:15000, Imagen: Imagen.jpg, Código: 6, 5</li>
        <li>Pantalon, Pantalon Marca Furor, Precio:13000, Imagen: Imagen.jpg, Código: 7, Cantidad: 15</li>
        <li>Corbata, Corbata Marca Hermès, Precio:10000, Imagen: Imagen.jpg, Código: 8, Cantidad: 8</li>
        <li>Vestido, Vestido Marca Ted Baker, Precio:30000, Imagen: Imagen.jpg, Código: 9, Cantidad: 6</li>
        <li>Falda, Falda Marca GANNI, Precio:9000, Imagen: Imagen.jpg, Código: 10, Cantidad: 7</li>
        </ul>

        <a href="/realTimeProducts">
            <button>Ver Productos en Tiempo Real</button>
        </a>
        <a href="./carrito">
            <button>Ver carrito</button>
        </a>
        <a href="/">
            <button>volver a lista estática</button>
        </a>
        <a href="/logout">
            <button>Cerrar sesion</button>
        </a>
        <a href="/perfil">
            <button>Ir a Perfil</button>
        </a>

</body>
</html>