<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>

<h1>Perfil de Usuario</h1>
<h2>Datos del Usuario</h2>
<p>Correo electr칩nico: <span id="userEmail">{{ user.email }}</span></p>
<p>Rol: <span id="userRole">{{ user.role }}</span></p>

<form action="/users/premium" method="POST">
    <button type="submit">Actualizar a Premium</button>
</form>

    <h2>Subir Producto</h2>
<form action="/perfil/{{ user._id }}/documentos" method="POST" enctype="multipart/form-data">
    <label for="productName">Nombre del Producto:</label>
    <input type="text" id="productName" name="productName" placeholder="Ingrese el nombre del producto" required><br><br>

    <label for="productDescription">Descripci칩n del Producto:</label>
    <textarea id="productDescription" name="productDescription" placeholder="Ingrese la descripci칩n del producto" rows="4" required></textarea><br><br>

    <label for="productPrice">Precio del Producto:</label>
    <input type="number" id="productPrice" name="productPrice" placeholder="Ingrese el precio del producto" step="0.01" required><br><br>

    <label for="productQuantity">Cantidad del Producto:</label>
    <input type="number" id="productQuantity" name="productQuantity" placeholder="Ingrese la cantidad del producto" required><br><br>

    <button type="submit">Subir Archivos</button>
</form>

    <a href="/realTimeProducts">
        <button>volver</button>
    </a>

    <script>
        // Obtener el objeto user del servidor
        const userData = {{ user }};

        // Mostrar los datos del usuario en la p치gina
        document.getElementById("userEmail").innerText = userData.email;
        document.getElementById("userRole").innerText = userData.role;
    </script>
</body>
</html>

