<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form id="resetPasswordForm">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required><br><br>
        
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        
        <button type="submit">Restablecer Contraseña</button>
    </form>
    
    <div id="errorMessage" style="color: red;"></div>

    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (newPassword !== confirmPassword) {
                document.getElementById('errorMessage').innerText = 'Las contraseñas no coinciden';
                return;
            }

            resetPassword(newPassword);
        });

        function resetPassword(newPassword) {
            const token = obtenerTokenDeLaURL(); // Función para obtener el token del parámetro de la URL

            fetch('/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: token, newPassword: newPassword })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al restablecer la contraseña');
                }
                return response.json();
            })
            .then(data => {
                alert(data.message); // Mostrar mensaje de éxito
                // Redirigir al usuario a la página de inicio de sesión u otra página relevante
            })
            .catch(error => {
                console.error('Error al restablecer la contraseña:', error);
                document.getElementById('errorMessage').innerText = 'Error al restablecer la contraseña. Por favor, inténtalo de nuevo más tarde.';
            });
        }

        function obtenerTokenDeLaURL() {
    // Obtener la URL actual del navegador
    const url = window.location.href;
    
    // Buscar el índice del token en la URL
    const tokenIndex = url.indexOf('?token=');

    // Si no se encuentra el token en la URL, devolver null
    if (tokenIndex === -1) {
        return null;
    }

    // Obtener el token de la URL
    const token = url.substring(tokenIndex + 7); // 7 es la longitud de '?token='

    // Devolver el token
    return token;
}
    </script>
</body>
</html>
